<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Hugo</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>3+BA8IExSmdvZM1F1qBDkc2k0mQ3vk3Zr6ZDNWwSHqwUVLZc6P1xLpmJqbn5OKsW</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>dlQYPZ:9dcf5d918688d4ba2cded0fe843bd2fbddf3a5408e10904671debd5c5574257c</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>HTrippaers@schubergphilis.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>