<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Sam Robertson</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>WQl8vk/315Xhpf70KEJCwM7rZ2gHxA7he9GhCTFzYNMUVLZc6P1xLpmJqbn5OKsW</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>OfIKNH:d43b3595f62774a9018d403c9c22d892094ba61391e5660f723b15a3b1d49001</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>sam@cloud.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>