<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>rajesh.battala</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>iCWUMP1Y21Y8PTIMDndEZk3nhrUJe4u1A9Ip5Zqn/gAUVLZc6P1xLpmJqbn5OKsW</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>rajesh.battala@citrix.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>