<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Devdeep Singh</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>P5i9WUIiq5rTZhtFX+KAGESMKG1stzOJnwd9ShzxToAUVLZc6P1xLpmJqbn5OKsW</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>wnuCSR:c226201a13474f874104619616bc1e7f520fe3caee210c1cf5517b9b8614219b</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>devdeep.singh@citrix.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>