<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Radhika Puthiyetath</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>HvDoVAq5atIspGa2FHOeTJh6SMQeF5tE67G3fxQuTvYUVLZc6P1xLpmJqbn5OKsW</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>jffRsd:9ac73cbb08cbe3841d5428098d75d4a923f05e8eb183ad8f7aa54c9fbc9ab0dc</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>radhika.puthiyetath@citrix.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>