<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Ahmad Emneina</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>2vd0KV+BdsADmVog0k21XG9pDDtBWo6EE1rHBp0RybsUVLZc6P1xLpmJqbn5OKsW</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>qfSxQz:1a7cc3c3a8655485c4760950dc6d84d8321cd7722ee2ef2ad4b5e8d2b8c74bcd</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>Ahmad.Emneina@citrix.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>