<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Alena Prokharchyk</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>EWXvh1Klb1L9VzvBQHNJuJH9NDsBflLOoikff2qJddEUVLZc6P1xLpmJqbn5OKsW</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>XkDibb:ae9c32b9ef20309ede35c9f3c0cbf62131273667b1daef82f8099243c7e0f7c2</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>alena@cloud.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>