<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>brian.federle</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>0z2Hmi42kwNQZzu1aoSdO+XQr0TcN7MK1TjZ2q4gk0QUVLZc6P1xLpmJqbn5OKsW</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>brian.federle@citrix.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>