<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Pradeep Soundararajan</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>25aqIcxy8N1OkTMI0wmHB2TQHmzN7Unm7sWBTPvHd44UVLZc6P1xLpmJqbn5OKsW</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>KNdZSl:2d4a24eb64e759fb543de9cb4e3314178cfb128325d8e4ad28cab1011e4f521a</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>pradeep.soundararajan@citrix.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>