<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>David Nalley</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>rnVH6mogYtcT2mRDXLY79zfY6RV+PCxwCT/x2/gB6LoUVLZc6P1xLpmJqbn5OKsW</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>ZtLHEj:27296692bcc913d858999f164b0d5783d439bc841bbcc8038534419ffb0c8010</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>david@cloudstack.org</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>