<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>cweise</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>Eds1HGo2r08BczSbY9m4LHFlef1r5Hz7aGFbrB4/kyAUVLZc6P1xLpmJqbn5OKsW</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>cweise@iswest.net</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>