<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>vijayendra1</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>CS0r7/PNLzpQ6N6RrS3RuaC91pf6wI39h9K8lIPfhJwUVLZc6P1xLpmJqbn5OKsW</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>vijayendra1@sjcwvijayendra1.citrite.net</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>