<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>tomoe</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>V4MRpGUp+b7qGmPXsKHm25NL6KQJo+cYXOzIUv1YdFQUVLZc6P1xLpmJqbn5OKsW</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>tomoe@midokura.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>